@mixin respond-to-specific($width){
	@media only screen and (max-width: $width){
		@content
	}
}
body{
	background: #333333;
}

#highway{
	position: relative;
	background: url("/assets/img/bg-night.png") no-repeat;
	background-size: auto 650px;
	width: 900px;
	height: 650px;
	margin: 0 auto;
	overflow: hidden;
	color: #000000;
	@include respond-to-specific(700px){
		width: 98%;
	}
}

.car{
	transition: left 20000ms, top 10000ms;
	position: absolute;
	width: 50px;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
